.checkbox {
  height: 25px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;

  .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 2px solid #ccc;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .input:checked~.checkmark {

    border: 2px solid #2196F3;

    &:after {
      display: block;
      left: 7px;
      top: 1px;
      width: 8px;
      height: 16px;
      border: solid #2196F3;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}